/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: #4f83cc;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

@layer base {

}

@layer components {
  .container {
    @apply w-4/5 mx-auto;
    
    .btn {
    @apply 
    bg-red-400
    text-white 
    font-bold
    rounded-lg 
    p-2 
    m-1
    focus:outline-none 
    hover:opacity-75;
    }
  }
}