html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p{
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2{
  margin-bottom: 0;
}

.container{
  width: 80%;
  margin: auto;
}

.flex{
  display: flex;
  width: 100%;
}

.flex img{
  width: 400px;
  height: 300px;
  border: 1px solid #e6e6e6;
}

.flex p{
  margin: 20px 0 0 20px;
}

.flex p a{
  color: #4f83cc;
  text-decoration: underline;
}