/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./components/Layout.module.css";
@import "./components/Header.module.css";
@import "./components/Nav.module.css";
@import "./components/Footer.module.css";
@import "./components/Isi.module.css";
@import "./components/IsiContent.module.css";
@import "./components/Carousel.module.css";
@import "./components/Button.module.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: #4f83cc;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}