.nav {
  height: 50px;
  width: 100%;
  padding: 10px;
  background: #e1e2e1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.nav ul li a {
  margin: 5px 15px;
  text-decoration: underline;
  color: #000;
}